#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #d1d0d0;
    background-color: #000000;
    width: 100%
}

#nav {
    padding: 30px
}

#nav a {
    font-weight: 700;
    color: #2c3e50
}

#nav a.router-link-exact-active {
    color: #5f5f5f
}

h3 {
    margin: 40px 0 0
}

ul {
    list-style-type: none;
    padding: 0
}

li {
    display: inline-block;
    margin: 0 10px
}

a {
    color: #1eac94
}

button {
    border-radius: 6px;
    padding: 0 12px;
    border: none;
    margin-bottom: 5rem;
}

.node {
    border-radius: 6px;
    padding: 0 12px;
    border: none;
    margin-bottom: -5rem;
}

.btv-logo {
    height: 30px;
    padding: 0 16px;
}

.btvblnc {
    color: #c82333;
    font-size: 24px;
}

label {
    margin-bottom: 3px;
    font-size: 14px
}

.ver-algin {
    display: inline-block
}

.btv-logo,
.ver-algin {
    vertical-align: middle
}

h1 {
    font-size: 15px;
    line-height: 1.5
}

.small-tip {
    font-size: 12px;
    color: rgb(250, 0, 0);
    text-align: left
}

.v--modal-box {
    padding: 20px!important;
    color: #d63d52
}

.mykey-tip {
    padding: 20px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled,
.btn:disabled {
    opacity: .65
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
}

.btn-block {
    width: 90%;
    
}

.btn-primary {
    border-radius: 12px;
    background-color: #777;
    border: none;
    justify-items: center;
}

.btn-primary:hover {
    background-color: rgb(187, 187, 187);
}

.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(225 83 97 / 50%);
    border-radius: 12px;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    border-radius: 12px;
}

.settings {
    padding: 10px;
    background: #000000
}

.setting-item .setting-tip {
    font-size: 12px;
    color: #777
}

h2 {
    text-align: left;
    font-size: 15px
}

.error {
    color: #f54141
}

.form-signin {
    position: relative
}

.lang-switch {
    position: absolute;
    right: 10px;
    top: 20px
}

p {
    font-size: 13px;
    color: #ffe600;
}


.text-center {
    text-align: center!important;
}

.blnc {
    color: #ffffff;
    display: block;
    padding: 0 24px;
    border: #212529;
    background-color: #777;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    font-size: large;
    font-weight: 500;
}
